form {
  max-width: 600px;
  margin: 100px auto auto auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input {
  height: 25px;
  margin: 0 3px 0 3px;
}

.form-block {
  display: flex;
  flex-direction: column;
}

.form-block__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.control-valid {
  color: red;
  font-size: 0.7rem;
}
