<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Авторизация</h1>

  <div class="form-block">
    <div class="form-block__control">
      <label>Логин</label>
      <div style="text-align: center;">
        <input type="text" placeholder="Введите логин..." formControlName=login>

        <div class="control-valid" *ngIf="login.invalid && (login.dirty || login.touched)">
          <div *ngIf="login.errors?.['email']" style="color: red;">
            Введите корректный login
          </div>
        </div>

      </div>
    </div>

    <div class="form-block__control">
      <label>Пароль</label>
      <div style="text-align: center;">
        <input type="password" placeholder="Введите пароль..." formControlName=password>

        <div class="control-valid" *ngIf="password.invalid && (password.dirty || password.touched)">
          <div *ngIf="password.errors?.['minlength']" style="color: red; font-size: 0.7rem;">
            Минимальное кол-во символов: 6
          </div>
        </div>

      </div>
    </div>
  </div>

  <button type="submit" [disabled]="form?.invalid">Отправить</button>
</form>




